{% extends "base_project.html" %}
{% block content%}
<BODY>
    <h1> <font size="14">Cash Course</font></h1>
<h1> Welcome {{homen}}, Please click what you would like to do!</h1>
    <p></p>
<a href="http://127.0.0.1:5000/income">Income</a>
    <p></p>
<a href="http://127.0.0.1:5000/expenditure">Expense</a>
    <p></p>
<a href="http://127.0.0.1:5000/logout">Expense History</a>
        <p></p>
<a href="http://127.0.0.1:5000/logout">Teller</a>
    <p></p>
<a href="http://127.0.0.1:5000/logout">Log out</a>

</BODY>
    {% endblock%}